<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/style.css">
    <!-- <style>
        .header-heading{
            color: red;
        }
    </style> -->
</head>
<body>
    <header class="header">
        <nav class="nav">
            <h1 class="header-heading">Header</h1>
        </nav>
    </header>
</body>
</html>